<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<div class="sidebar" style="margin-top: 0;">
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="/sources/images/admin-logo.png" alt="User Image">
			</div>
		</div>
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item">
					<a href="/admin" class="nav-link <%= activeMenu === '/' ? 'active-menu': '' %>">
						<i class="nav-icon far fa-image"></i>
						<p>Home</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/airfields" class="nav-link <%= activeMenu === 'airfields' ? 'active-menu': '' %>">
						<i class="nav-icon far fa-image"></i>
						<p>Airfields</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/owners" class="nav-link <%= activeMenu === 'owners' ? 'active-menu': '' %>">
						<i class="nav-icon far fa-image"></i>
						<p>Owners</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/runway-types" class="nav-link <%= activeMenu === 'runway-types' ? 'active-menu': '' %>">
						<i class="nav-icon far fa-image"></i>
						<p>Runway Types</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/colors" class="nav-link <%= activeMenu === 'colors' ? 'active-menu': '' %>">
						<i class="nav-icon far fa-image"></i>
						<p>Colors</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/additional-qualifications" class="nav-link <%= activeMenu === 'additional-qualifications' ? 'active-menu': '' %>">
						<i class="nav-icon far fa-image"></i>
						<p>Additional qualifications</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/equipments" class="nav-link <%= activeMenu === 'equipments' ? 'active-menu': '' %>">
						<i class="nav-icon far fa-image"></i>
						<p>Equipments</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/oaci-types" class="nav-link <%= activeMenu === 'oaci-types' ? 'active-menu': '' %>">
						<i class="nav-icon far fa-image"></i>
						<p>Oaci types</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/amenity-types" class="nav-link <%= activeMenu === 'amenity-types' ? 'active-menu': '' %>">
						<i class="nav-icon far fa-image"></i>
						<p>Amenity Types</p>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>