<div class="card-body">
    <div class="row">
        <div class="col-sm-12">
            <div id="map" ></div>
        </div>
    </div>

    <div class="row margin">
        <div class="col-sm-6">
            <input id="short_hr_price_eur_input" type="text" name="short_hr_price_eur" value="10">
        </div>
        <div class="col-sm-6">
            <input id="long_day_price_eur_input" type="text" name="long_day_price_eur" value="10">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-check-label">OACI</label>
                <select name="oaci_type_id" id="oaci_type_id" class="form-control select2 select2Oaci" style="width: 100%;">
                    <option value="" selected="selected">-- Select OACI --</option>
                    <% oaciTypes.forEach(function(oaciType) { %>
                        <option data-coord="<%= oaciType.latitude %>,<%= oaciType.longitude %>" value="<%= oaciType.id %>">
                            <%= oaciType.oaci_code %>: &#160;&#160; <%= oaciType.airfield_name %>
                        </option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-check-label">Amenities</label>
                <select class="select2" name="amenity_type_ids" multiple="multiple" data-placeholder="Select a Amenity" style="width: 100%;">
                    <% amenities.forEach(function(type) { %>
                        <option value="<%= type.id %>"><%= type.title %></option>
                    <% }); %>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-check-label">Runways</label>
                <select class="select2" name="runway_type_ids" multiple="multiple" data-placeholder="Select a Runway" style="width: 100%;">
                    <% runwayTypes.forEach(function(type) { %>
                        <option value="<%= type.id %>"><%= type.title %></option>
                    <% }); %>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="form-check-label">Manager name</label>
                <input type="text" name="manager_name" class="form-control" placeholder="Manager name">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="form-check-label">Phone Number</label>
                <input type="text" name="phone_number" class="form-control" placeholder="Phone Number">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="form-check-label">Primary email</label>
                <input type="text" id="primary_email" name="primary_email" class="form-control" placeholder="Primary email">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="form-check-label">Total number of Spaces</label>
                <input type="text" name="spaces_count" class="form-control" placeholder="Number of Spaces">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="form-check-label">Number of hangar</label>
                <input type="text" name="hangar_count" class="form-control" placeholder="Number of hangar">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="form-check-label">Number of parking</label>
                <input type="text" name="parking_count" class="form-control" placeholder="Number of parking">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-default">
                <div class="card-header">
                    <b>Upload your operating license</b>
                </div>
                <div class="card-body">
                    <div id="actions" class="row">
                        <button type="button" class="btn btn-primary btn-block bg-gradient-secondary" data-toggle="modal" data-target="#modal-lg">
                            <i class="fas fa-file-upload"></i>
                            Upload Document Image
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-default">
                <div class="card-header">
                    <b>Fill your bank details</b>
                </div>
                <div class="card-body">
                    <div id="actions" class="row">
                        <button type="button" class="btn btn-primary btn-block bg-gradient-secondary" data-toggle="modal" data-target="#modal-lg-1">
                            <i class="fas fa-pencil-alt"></i>
                            Fill your bank details
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-default">
                <div class="card-header">
                    <b>Upload Airfield Pictures</b>
                </div>
                <div class="card-body">
                    <div id="actions" class="row">
                        <button type="button" class="btn btn-primary btn-block bg-gradient-secondary" data-toggle="modal" data-target="#modal-lg-2">
                            <i class="fas fa-file-upload"></i>
                            Upload Airfield Pictures
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ./common/airfield-photos-modal.ejs %>

    <%- include ./common/document-modal.ejs %>

    <%- include ./common/bank-detail-modal.ejs %>
</div>