<div class="card-body">
    <div class="row">
        <div class="col-sm-12">
            <div id="map"></div>
        </div>
    </div>

    <div style="display: none;" class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <% inputName = 'latitude'; %>
                <input type="text" name="<%= inputName %>" class="form-control" id="<%= inputName %>"
                       value="<%= model[inputName] ? model[inputName] : '' %>">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <% inputName = 'longitude'; %>
                <input type="text" name="<%= inputName %>" class="form-control" id="<%= inputName %>"
                       value="<%= model[inputName] ? model[inputName] : '' %>">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <% inputName = 'oaci_code'; %>
                <label for="<%= inputName %>">OACI</label>
                <input type="text"  name="<%= inputName %>" id="<%= inputName %>"
                       class="form-control <%= errors[inputName] ? 'is-invalid' : '' %>"
                       value="<%= model[inputName] ? model[inputName] : '' %>">
                <span class="error invalid-feedback">
                    <%= errors[inputName] ? errors[inputName]['msg']: ''%>
                </span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <% inputName = 'airfield_name'; %>
                <label for="<%= inputName %>">Airfield name</label>
                <input type="text" name="<%= inputName %>" id="<%= inputName %>"
                       class="form-control <%= errors[inputName] ? 'is-invalid' : '' %>"
                       value="<%= model[inputName] ? model[inputName] : '' %>">
                <span class="error invalid-feedback">
                    <%= errors[inputName] ? errors[inputName]['msg']: ''%>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <% inputName = 'city'; %>
                <label for="<%= inputName %>">City</label>
                <input type="text"  name="<%= inputName %>" id="<%= inputName %>"
                       class="form-control <%= errors[inputName] ? 'is-invalid' : '' %>"
                       value="<%= model[inputName] ? model[inputName] : '' %>">
                <span class="error invalid-feedback">
                    <%= errors[inputName] ? errors[inputName]['msg']: ''%>
                </span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <% inputName = 'runways_count'; %>
                <label for="<%= inputName %>">Runways count</label>
                <input type="text"  name="<%= inputName %>" id="<%= inputName %>"
                       class="form-control <%= errors[inputName] ? 'is-invalid' : '' %>"
                       value="<%= model[inputName] ? model[inputName] : '' %>">
                <span class="error invalid-feedback">
                    <%= errors[inputName] ? errors[inputName]['msg']: ''%>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <% inputName = 'type'; %>
                <label for="<%= inputName %>">Type</label>
                <input type="text"  name="<%= inputName %>" id="<%= inputName %>"
                       class="form-control <%= errors[inputName] ? 'is-invalid' : '' %>"
                       value="<%= model[inputName] ? model[inputName] : '' %>">
                <span class="error invalid-feedback">
                    <%= errors[inputName] ? errors[inputName]['msg']: ''%>
                </span>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin/<%= _module %>/common/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5wZV3BX0WF1P41cMheOw27qC8wnVBgQg&callback=initMap&libraries=places&v=weekly" defer></script>
<script src="/js/admin/<%= _module %>/validation.js"></script>
