<div class="card-body">
    <div class="row">
        <div class="col-sm-12">
            <div id="map"></div>
        </div>
    </div>

    <div style="display: none;" class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <% name = 'latitude'; %>
                <input type="text" name="<%= name %>" class="form-control" id="<%= name %>"
                       value="<%= model[name] ? model[name] : '' %>">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <% name = 'longitude'; %>
                <input type="text" name="<%= name %>" class="form-control" id="<%= name %>"
                       value="<%= model[name] ? model[name] : '' %>">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <% name = 'oaci_code'; %>
                <label for="<%= name %>">OACI</label>
                <input type="text"  name="<%= name %>" id="<%= name %>"
                       class="form-control <%= errors[name] ? 'is-invalid' : '' %>"
                       value="<%= model[name] ? model[name] : '' %>">
                <span class="error invalid-feedback">
                    <%= errors[name] ? errors[name]['msg']: ''%>
                </span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <% name = 'airfield_name'; %>
                <label for="<%= name %>">Airfield name</label>
                <input type="text" name="<%= name %>" id="<%= name %>"
                       class="form-control <%= errors[name] ? 'is-invalid' : '' %>"
                       value="<%= model[name] ? model[name] : '' %>">
                <span class="error invalid-feedback">
                    <%= errors[name] ? errors[name]['msg']: ''%>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <% name = 'city'; %>
                <label for="<%= name %>">City</label>
                <input type="text"  name="<%= name %>" id="<%= name %>"
                       class="form-control <%= errors[name] ? 'is-invalid' : '' %>"
                       value="<%= model[name] ? model[name] : '' %>">
                <span class="error invalid-feedback">
                    <%= errors[name] ? errors[name]['msg']: ''%>
                </span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <% name = 'runways_count'; %>
                <label for="<%= name %>">Runways count</label>
                <input type="text"  name="<%= name %>" id="<%= name %>"
                       class="form-control <%= errors[name] ? 'is-invalid' : '' %>"
                       value="<%= model[name] ? model[name] : '' %>">
                <span class="error invalid-feedback">
                    <%= errors[name] ? errors[name]['msg']: ''%>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <% name = 'type'; %>
                <label for="<%= name %>">Type</label>
                <input type="text"  name="<%= name %>" id="<%= name %>"
                       class="form-control <%= errors[name] ? 'is-invalid' : '' %>"
                       value="<%= model[name] ? model[name] : '' %>">
                <span class="error invalid-feedback">
                    <%= errors[name] ? errors[name]['msg']: ''%>
                </span>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin/<%= _module %>/common/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5wZV3BX0WF1P41cMheOw27qC8wnVBgQg&callback=initMap&libraries=places&v=weekly" defer></script>
<script src="/js/admin/<%= _module %>/validation.js"></script>
